# alembic==1.16.5
# blinker==1.9.0
# click==8.3.0
# colorama==0.4.6
# Flask==3.1.2
# flask-cors==6.0.1
# Flask-Migrate==4.1.0
# Flask-SQLAlchemy==3.1.1
# greenlet==3.2.4
# itsdangerous==2.2.0
# Jinja2==3.1.6
# Mako==1.3.10
# MarkupSafe==3.0.3
# python-dotenv==1.1.1
# SQLAlchemy==2.0.44
# typing_extensions==4.15.0
# Werkzeug==3.1.3
# gunicorn==21.2.0


# # Data Science & ML
# pandas==2.0.3
# scikit-learn==1.3.0
# numpy==1.24.3
# seaborn==0.12.2
# matplotlib==3.7.2
# imbalanced-learn==0.10.1
# joblib==1.3.2
# threadpoolctl==3.2.0

# Flask & Web
Flask==2.3.3
flask-cors==4.0.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
gunicorn==21.2.0

# Data Science & ML (versions compatibles Python 3.10)
pandas==1.5.3
scikit-learn==1.2.2
numpy==1.24.3
seaborn==0.12.2
matplotlib==3.7.1
imbalanced-learn==0.10.1
joblib==1.2.0
threadpoolctl==3.1.0

# Autres dépendances
alembic==1.12.1
blinker==1.6.2
click==8.1.7
colorama==0.4.6
greenlet==2.0.2
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.3
python-dotenv==1.0.0
SQLAlchemy==2.0.23
typing_extensions==4.8.0
Werkzeug==2.3.7